

.input-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    background-color: #1069c9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #084484;
}

.table-container {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin-left: 500px;
}

table td {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    text-align: center;
}

#pos00 {
    background-color: #12c14a;
}